<!DOCTYPE html>
<html>
  <head>
    <title>BetaBank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="skin-blue sidebar-mini">
    <div class="wrapper" style="height: auto">
      <%= render partial: "shared/header" %>
      <%= render partial: "shared/sidebar" %>
      <div class="content-wrapper" style="min-height: 916px;">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
